

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}

.anchorDesign{
	text-decoration: none;
	color: white;
	text-align: center;
	padding: 20px;
}

.contentBox{ 
	box-sizing: content-box; 
	width: 100%;
	padding: 10px;
	background: #444; 
	text-indent: 20px; 
}

.campNou{
	height: 1000px;
	width: 100%;
}

body{
	margin: 0px;
	padding: 0px;
}

